@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("../fonts/MYRIADPRO-COND.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("../fonts/MYRIADPRO-BOLDCOND.woff") format("woff");
}
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("../fonts/MYRIADPRO-BOLD.woff") format("woff");
}
@font-face {
  font-family: 'Arial regular';
  font-style: normal;
  font-weight: normal;
  src: local("Arial regular"), url("../fonts/arial-regular.woff") format("woff");
}
@font-face {
  font-family: 'Arial Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Arial Bold"), url("../fonts/arial-bold.woff") format("woff");
}
@font-face {
  font-family: 'aglettericacondensedc';
  src: url("../fonts/aglettericacondensedc-webfont.eot");
  src: url("../fonts/aglettericacondensedc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aglettericacondensedc-webfont.woff2") format("woff2"), url("../fonts/aglettericacondensedc-webfont.woff") format("woff"), url("../fonts/aglettericacondensedc-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
/* line 4, ../sass/_reset.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 5, ../sass/_reset.scss */
body {
  padding: 0;
  margin: 0;
  font: 14px 'Myriad Pro Condensed', sans-serif;
  background: #fff;
  color: #000;
}

/* line 6, ../sass/_reset.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 12, ../sass/_reset.scss */
select, input, textarea {
  font-size: 14px;
  vertical-align: middle;
}

/* line 13, ../sass/_reset.scss */
textarea {
  vertical-align: top;
}

/* line 14, ../sass/_reset.scss */
:focus {
  outline: none;
}

/* line 15, ../sass/_reset.scss */
input[type=submit] {
  cursor: pointer;
}

/* line 16, ../sass/_reset.scss */
img, fieldset {
  border: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 18, ../sass/_reset.scss */
a:link, a:visited {
  font: 14px 'Myriad Pro Condensed', sans-serif;
  color: #4C8BBF;
  text-decoration: none;
}

/* line 19, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/layout/_wrapper.scss */
.wrapper {
  background-image: linear-gradient(to top, #020202 0%, #020202 47%, #2d2d2d 99%, #2d2d2d 100%);
}

/* line 2, ../sass/layout/_header.scss */
header .container {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  left: 0;
  min-height: 63px;
  border: 1px #343434 solid;
  border-radius: 0 0 7px 7px;
  background: linear-gradient(to bottom, #212121 90%, #101010 10%);
  padding: 0;
}
/* line 13, ../sass/layout/_header.scss */
header .container h1 {
  width: 211px;
  height: 54px;
  margin: 0 auto;
  padding: 5px 25px;
  background-image: linear-gradient(to top, #313131 0%, #2a2a2a 100%);
}
@media screen and (min-width: 1024px) {
  /* line 13, ../sass/layout/_header.scss */
  header .container h1 {
    float: left;
  }
}
/* line 23, ../sass/layout/_header.scss */
header .container .main-navigation {
  text-align: center;
}
/* line 25, ../sass/layout/_header.scss */
header .container .main-navigation li {
  display: inline-flex;
  height: 30px;
  text-transform: uppercase;
}
/* line 29, ../sass/layout/_header.scss */
header .container .main-navigation li a {
  height: 30px;
  padding: 10%;
  font-family: 'aglettericacondensedc';
  font-size: 12px;
  color: #fff;
  transition: 0.5s;
}
/* line 36, ../sass/layout/_header.scss */
header .container .main-navigation li a:hover {
  background-image: linear-gradient(to top, #a66931 0%, #d77a0a 100%);
  box-shadow: -1px 0 0 rgba(255, 255, 255, 0.22);
}
@media screen and (min-width: 1024px) {
  /* line 29, ../sass/layout/_header.scss */
  header .container .main-navigation li a {
    height: 55px;
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) {
  /* line 25, ../sass/layout/_header.scss */
  header .container .main-navigation li {
    height: 55px;
  }
}

/* line 1, ../sass/site-parts/_hero.scss */
.hero {
  position: relative;
  min-height: 350px;
  padding-top: 27px;
  background: url("../images/head-bg.jpg") no-repeat bottom;
  background-size: cover;
}
/* line 7, ../sass/site-parts/_hero.scss */
.hero .hero-line-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 27px;
  background-color: #020202;
  box-shadow: 0 3px 7px #000301, 0 0 1px rgba(255, 255, 255, 0.38);
}
/* line 15, ../sass/site-parts/_hero.scss */
.hero .letter-search-bar {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 920px;
  padding: 8px 70px;
  background-color: black;
  border: 2px solid #343435;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  opacity: 0.9;
  text-align: center;
}
@media screen and (min-width: 920px) {
  /* line 15, ../sass/site-parts/_hero.scss */
  .hero .letter-search-bar {
    display: block;
  }
}
/* line 33, ../sass/site-parts/_hero.scss */
.hero .letter-search-bar li {
  display: inline-block;
  margin: 0 8px;
}
/* line 36, ../sass/site-parts/_hero.scss */
.hero .letter-search-bar li a {
  color: white;
  font-size: 15px;
  transition: 0.5s;
}
/* line 40, ../sass/site-parts/_hero.scss */
.hero .letter-search-bar li a:hover {
  color: #9e6701;
}

/* line 1, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel {
  overflow: hidden;
}
/* line 3, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container {
  position: relative;
  margin-bottom: 15px;
  padding: 7px 7px 0 7px;
  background-image: linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 0 0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.63);
}
/* line 11, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer {
  align-items: center;
  border-radius: 20px 20px 0 0;
  background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.14);
}
@media screen and (min-width: 650px) {
  /* line 11, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
}
/* line 21, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer h2 {
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 0 11px rgba(0, 3, 1, 0.57);
  color: #b85302;
  font-size: 15px;
}
@media screen and (min-width: 650px) {
  /* line 21, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer h2 {
    float: left;
    margin: 0 40px 0 60px;
  }
}
/* line 33, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .search-form {
  margin: 0 auto;
  max-width: 300px;
  position: relative;
}
@media screen and (min-width: 650px) {
  /* line 33, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer .search-form {
    float: left;
    margin: 0;
  }
}
/* line 41, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .search-form input {
  width: 100%;
  padding: 7px;
  background-color: #252525;
  background-image: linear-gradient(to top, rgba(92, 92, 92, 0.04) 0%, rgba(10, 10, 10, 0.04) 100%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  color: #848484;
  font-size: 12px;
}
@media screen and (min-width: 1120px) {
  /* line 41, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer .search-form input {
    width: 300px;
  }
}
/* line 54, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .search-form button {
  position: absolute;
  top: 6px;
  right: 5px;
  border: 0;
  background: transparent;
  color: #868585;
}
/* line 63, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .login-bar {
  text-align: center;
}
@media screen and (min-width: 650px) {
  /* line 63, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer .login-bar {
    clear: both;
    float: right;
  }
}
@media screen and (min-width: 1120px) {
  /* line 63, ../sass/site-parts/_search-login-panel.scss */
  .search-login-panel .container .background-layer .login-bar {
    margin-left: 31%;
  }
}
/* line 72, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .login-bar li {
  display: inline-block;
  margin: 0 15px;
}
/* line 75, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .login-bar li a {
  text-shadow: 0 1px 1px rgba(0, 3, 1, 0.65);
  text-transform: uppercase;
  color: #828181;
  font-size: 13px;
  transition: 0.5s;
}
/* line 81, ../sass/site-parts/_search-login-panel.scss */
.search-login-panel .container .background-layer .login-bar li a:hover {
  color: #9e6701;
}

/* line 1, ../sass/site-parts/_chart-lists.scss */
.chart-lists {
  overflow: hidden;
  background: transparent;
}
/* line 4, ../sass/site-parts/_chart-lists.scss */
.chart-lists .news-public-article {
  max-width: 320px;
  padding: 10px;
  border: 1px solid #303030;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}
/* line 9, ../sass/site-parts/_chart-lists.scss */
.chart-lists .news-public-article h2 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-shadow: 0 0 1.4px rgba(0, 3, 1, 0.4);
  color: #636363;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 18, ../sass/site-parts/_chart-lists.scss */
.chart-lists .news-public-article .news-public {
  padding: 10px 10px 2px;
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.1);
  background-image: linear-gradient(to left, #58391d 0%, #58391d 1%, #21170e 4%, #111111 100%, #131313 100%);
}
/* line 22, ../sass/site-parts/_chart-lists.scss */
.chart-lists .news-public-article .news-public li {
  margin-bottom: 8px;
}
/* line 24, ../sass/site-parts/_chart-lists.scss */
.chart-lists .news-public-article .news-public li a {
  color: white;
  font-family: Arial;
  font-size: 11px;
}

/* line 21, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 62, ../sass/style.scss */
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  overflow: hidden;
}
/* line 12, ../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 67, ../sass/style.scss */
img {
  max-width: 100%;
  height: auto;
}
